body {
    margin: 0;
    background: rgb(233, 233, 233);
}
.feed {
    width: 500px;
    margin: 0px auto;
    padding: 30px 0;
}
.post {
    background: white;
    margin-bottom: 40px;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.post-title {
    font-weight: bold;
}
.post-date {
    color:grey;
}
.post-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}